.webs {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.banner {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;

}
.banners {
    position: relative;
    height: 316px;
    width: 100%
}

.image {
    width: 1240px;
    height: 248px;
    z-index: 0;
}
.logo {
    position: absolute;
    left: 16px;
    bottom: 16px;
    padding: 16px;
    width: 495px;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    box-shadow: rgb(40 40 43 / 16%) 0px 2px 8px;
    border-radius: 8px;
}

.link1 {
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: rgb(0, 171, 86);
    display: flex;
    gap: 12px;
}

.link2 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(0, 171, 86);
    border-radius: 4px;
    cursor: pointer;
    color: rgb(0, 171, 86);
    width: 36px;
    height: 36px;
}

