.title-head {
    margin-right: 20px;
    color: white;
}
.logo{
    margin: 16px;
}

.category{
    color: #2e9cc3
}

.top_header{
    z-index: 100;
    top: 0;
    width: 100%;
}

.navbar-light .navbar-toggler {
    margin-bottom: 20px;
    margin-right: 20px;
}

.nav-item .dropdown{
    color: #fff;
}
#basic-nav-dropdown{
    color: #fff;
}
div#basic-navbar-nav {
    height: 70px;
}
.head_page{
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 #ebf2f7;
}

.title_category{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
}

.sub-profile {
    position: absolute;
    z-index: 10;
    right:40px;
    border-radius: 10px;
}
.nav-profile-header{
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #e6ebf1;
}
.intro-shop{
    background-color:rgb(26, 148, 255);
    height: 25px;
}
.intro-shop a{
    margin-left: 15px;
    font-size: 13px;
    color: white;
    font-weight: 500;
}
