body {
    font-family: 'Roboto', sans-serif !important;
    color: #333 !important;
}

.ant-upload-list-picture-card .ant-upload-list-item-error, .ant-upload-list-picture .ant-upload-list-item-error {
    border-color: #e2e2e2;
}.ant-tooltip-content {
    display: none;
 }

.ant-modal-confirm-btns{
    display: flex;
    justify-content: center;
    width: 100%
}



.me-auto {
    background-color: #fff;
}
.my-off li {
    color: rgb(234 234 234);
}

.product-description img {
    width: 65% !important;
    display: flex;
    justify-content: center;
    margin: 20px;

}
#navbarScroll{
    max-width: 100%;
}
.oder-name {
    white-space: normal;
    font-size: 13px;
    max-width: 100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.product-search {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-left: 10px;
}

.pro_card .ant-card-body {
    padding: 0
}

.nav-link {
    color: #fff !important
}

.detail-order :hover {
    cursor: pointer;
}