.ant-menu-sub.ant-menu-inline {
    border: 0;
    background-color: transparent;
}
button.sc-bdvvtL.cNNJIt.rec.rec-arrow.rec.rec-arrow-left{
    margin-left: 20px;
}
button.sc-bdvvtL.jRFJkP.rec.rec-arrow.rec.rec-arrow-right {
    margin-right: 20px;
}
.rec-item-wrapper{
    width: 250px !important;
}

.view_more{
    cursor: pointer;
    display: inline-block;
    width: 240px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(13, 92, 182);
    color: rgb(13, 92, 182);
    font-size: 13px;
    text-align: center;
}

.ant-card-meta-title {
    white-space:normal;
    font-size: 13px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.product_card{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 -2px 2px 0 rgb(0 0 0 / 4%);
    background-color: #fff;
}
.pro_card{
    position: relative;
}


.add-cart {
    display: none;
    top:30%;
    left: 40%;
    color: #000000;
    font-weight: bold;
    position: absolute;
}
.action-product{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2e9cc3;
}



.product-list :hover  .add-cart {
    display: block;
}

.product-list:hover img {
    opacity: 0.6;
}

