#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.from-body {
    /*background-color: #6236d0;*/

}
.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    background: rgb(253, 48, 130);
}
.ant-steps-item-process .ant-steps-item-icon {
    background-color: #fff;
     border-color: #ffffff;
}
