
.site-layout-sub-header-background {
    background: #fff;
}

ul li {
    list-style: none;
    color: rgba(0,0,0,.54);
    line-height: 25px;
}

.site-layout-background {
    background: #fff;
}
.header-shop{
    width: 100%;
    height: 70px;
    background-color: rgb(26, 148, 255);
}